.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  @media (min-width: 768px) {
    & {
      display: none;
    }
  }
  &-contacts {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: auto;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  & .menu-link {
    display: block;
    padding: 10px;
    color: $main-text-color;
    text-decoration: none;
  }
  & .menu-link:hover,
  & .menu-link:focus {
    color: $brand-color;
  }
}
.menu-tel {
  font-size: 34px;
  letter-spacing: 0.02rem;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 32px;
  color: $brand-color;
}
.menu-mail {
  font-size: 24px;
  letter-spacing: 0.02rem;
  font-weight: 500;
  line-height: 1.16;
}
.mobile-menu-socials {
  display: flex;
  // gap: 20px;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 64px;
  // justify-content: space-between;
}
.mobile-menu-socials :not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}
// .mobile-menu-socials-item :not(:last-child) {
//   margin-right: 10px;
//   padding-right: 10px;
//   border-right: 1px solid black;
// }
.mobile-menu-socials a {
  font-size: 18px;
  letter-spacing: 0.02rem;
  font-weight: 500;
  line-height: 1.22;
  color: $brand-color;
  text-decoration: none;
}
